<!DOCTYPE html>

<html>
    <head>
        <title>Weather application</title>
        <link rel="icon" href="/assets/img/weather.png">
        <link rel="stylesheet" href="css/styles.css" >
    </head>
    <body>
        {{>header}}
        <p>{{errorMessage}}</p>
        {{>footer}}
    </body>
</html>