<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css" >
        <link rel="stylesheet" href="css/about.css" >
    </head>
    <body>
        {{>header}}
        <div class="img"></div>
        <div class="description">
            <p>{{ name }}</p>
        </div>
        {{>footer}}
    </body>
</html>