<!DOCTYPE html>

<html>
    <head>
        <title>Weather application</title>
        <link rel="icon" href="/assets/img/weather.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles.css" >
        <link rel="stylesheet" href="css/weather.css" >
        <link rel="stylesheet" href="css/block.css" >
    </head>
    <body>
        <div class="bg">
            <svg id="Warstwa_1" data-name="Warstwa 1" viewBox="0 0 1024 768"><defs><style>.cls-1{fill:url(#Gradient_bez_nazwy_68);}.cls-2{fill:url(#Gradient_bez_nazwy_146);}.cls-3{fill:#3a0028;}.cls-4,.cls-9{fill:#490036;}.cls-4{opacity:0.95;}.cls-5,.cls-6,.cls-8{fill:#700043;}.cls-5{opacity:0.6;}.cls-6{opacity:0.35;}.cls-7{fill:#5b003f;}.cls-8{opacity:0.85;}</style><linearGradient id="Gradient_bez_nazwy_68" x1="512" y1="768" x2="512" gradientUnits="userSpaceOnUse"><stop offset="0.1" stop-color="#9e005d"/><stop offset="1" stop-color="#f1613f"/></linearGradient><linearGradient id="Gradient_bez_nazwy_146" x1="498.67" y1="221.55" x2="539.14" y2="37.1" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#700043" stop-opacity="0.6"/><stop offset="1" stop-color="#f05f40"/></linearGradient></defs><rect class="cls-1" width="1024" height="768"/><circle class="cls-2" cx="511.96" cy="160.99" r="62"/><path class="cls-3" d="M1024,639.25V768H.31V657.41c9.93.46,24.71,1.32,42.4,3.07,26.77,2.64,35.74,4.88,48.46,6.14,33.32,3.32,52-4.14,90.86-9.21,41.31-5.41,74.81-4.15,103-3.07,31.2,1.16,123.15,6.75,181.72,36.86,3.52,1.81,3.76,2.09,6.06,3.07,28.47,12.23,76,5.72,129-3.78,15.21-2.7,30.84-5.68,46.65-8.51,0,0,67.72-12.16,193.83-27.64C884,649.21,945.92,642.82,1024,639.25Z"/><path class="cls-4" d="M1024,541.75v97.5c-78.08,3.57-140,10-181.72,15.09C716.17,669.82,648.45,682,648.45,682c-15.81,2.83-31.44,5.81-46.65,8.51-9.2-2-16.71-3.16-23-3.9a137.89,137.89,0,0,1-18.18-3.07c-15.32-3.78-22.05-8.85-28-13.58l.73-.24c48.76-.83,78.62-8.48,96.91-15.36,44.1-16.59,37.56-34.93,84.81-49.16,37.79-11.36,50.21-2.08,84.8-15.36,10.48-4,18.35-8.29,26.11-12.16,11.26-5.68,22.29-10.51,40.52-12.41,12.54-1.29,20.59-.37,30.29,0C951.8,567.4,1006.13,550.1,1024,541.75Z"/><path class="cls-5" d="M1024,537.88v3.87c-17.87,8.35-72.2,25.65-127.2,23.5-9.7-.37-17.75-1.29-30.29,0-18.23,1.9-29.26,6.73-40.52,12.41l-.06,0-68.45-6.24c-79.66-8.23-121.57-.31-145.38,9.22-4.54,1.84-9,3.81-13.26,5.87A992.61,992.61,0,0,0,497,568.32c-52-6.51-67.84-4.49-175.66-12.29-47.61-3.44-72.63-5.25-109-9.21-20.84-2.28-35.56-4.18-48.83-5.93l-1.81-2c133.62-32.35,236.48-34.68,289.9-33.58,66.63,1.39,153.92,10.08,160.52,10.76,35.92,3.62,67.18,7.65,127.21,15.36,79.59,10.23,80.5,13.45,115.08,15.36a833.27,833.27,0,0,0,127.21-3.08C1003.41,541.41,1017,539,1024,537.88Z"/><path class="cls-6" d="M161.68,538.92l1.81,2c-17.08-2.25-31.8-4.21-54.15-6.36-41.13-4-78.08-5.59-109-6.15V516.1c85.71,4.73,147.62-2.22,187.78-9.22,80.74-14.07,126.6-37.51,206-49.15,32.4-4.73,54.09-5.13,78.74-15.36,12.72-5.26,30.53-14.93,42.4-12.29a12.45,12.45,0,0,1,6.06,3.07c15.63,14,101.46,35,109,36.87,56.22,13.6,56.88,9.64,103,21.5,41.37,10.63,61,19,78.74,24.58,38.22,11.95,101.58,21.53,212,9.89v11.89c-7,1.07-20.59,3.53-42.4,5.86a833.27,833.27,0,0,1-127.21,3.08c-34.58-1.91-35.49-5.13-115.08-15.36-60-7.71-91.29-11.74-127.21-15.36-6.6-.68-93.89-9.37-160.52-10.76C398.16,504.24,295.3,506.57,161.68,538.92Z"/><path class="cls-7" d="M598.84,586.48c4.3-2.06,8.72-4,13.26-5.87,23.81-9.53,65.72-17.45,145.38-9.22l68.45,6.24.06,0c-7.76,3.87-15.63,8.14-26.11,12.16-34.59,13.28-47,4-84.8,15.36-47.25,14.23-40.71,32.57-84.81,49.16-18.29,6.88-48.15,14.53-96.91,15.36l-.73.24c-5.45-4.39-10.24-8.48-20.48-11-21.68-5.34-32.34,5.16-60.57,0-20.23-3.68-15.81-9.24-42.4-15.36-17.26-4-26.89-3.41-42.4-9.21-9.27-3.47-10.48-5.44-18.17-9.22a117.28,117.28,0,0,0-16.54-6.54l1.39-1.14c14-2,32.53-4.33,54.52-6.14,24.9-2.06,43.79-2.61,60.57-3.07,56.94-1.57,62.27,2.24,84.81,0C562.31,605.4,580.12,595.38,598.84,586.48Z"/><path class="cls-8" d="M598.84,586.48c-18.72,8.9-36.53,18.92-65.48,21.78-22.54,2.24-27.87-1.57-84.81,0-16.78.46-35.67,1-60.57,3.07-22,1.81-40.52,4.11-54.52,6.14l-1.39,1.14a201.14,201.14,0,0,0-62.21-8.82c-27.8.55-27.68,7.28-48.46,6.15-36-2-61.9-23.57-66.63-27.65-14.23-12.41-14.05-21.57-30.28-24.58-9.88-1.81-12.24,1.14-30.29,0-22.72-1.44-25-6.51-42.4-6.14-14.24.31-17.39,3.81-30.29,3.07a64.33,64.33,0,0,1-21.2-4.82V528.38c31,.56,67.9,2.19,109,6.15,22.35,2.15,37.07,4.11,54.15,6.36,13.27,1.75,28,3.65,48.83,5.93,36.4,4,61.42,5.77,109,9.21C429.17,563.83,445,561.81,497,568.32A992.61,992.61,0,0,1,598.84,586.48Z"/><path class="cls-9" d="M578.79,686.59c6.3.74,13.81,1.94,23,3.9-53.06,9.5-100.55,16-129,3.78-2.3-1-2.54-1.26-6.06-3.07C408.15,661.09,316.2,655.5,285,654.34c-28.16-1.08-61.66-2.34-103,3.07-38.89,5.07-57.54,12.53-90.86,9.21-12.72-1.26-21.69-3.5-48.46-6.14C25,658.73,10.24,657.87.31,657.41V555.82a64.33,64.33,0,0,0,21.2,4.82c12.9.74,16.05-2.76,30.29-3.07,17.38-.37,19.68,4.7,42.4,6.14,18,1.14,20.41-1.81,30.29,0,16.23,3,16,12.17,30.28,24.58,4.73,4.08,30.65,25.68,66.63,27.65,20.78,1.13,20.66-5.6,48.46-6.15a201.14,201.14,0,0,1,62.21,8.82,117.28,117.28,0,0,1,16.54,6.54c7.69,3.78,8.9,5.75,18.17,9.22,15.51,5.8,25.14,5.25,42.4,9.21,26.59,6.12,22.17,11.68,42.4,15.36,28.23,5.16,38.89-5.34,60.57,0,10.24,2.52,15,6.61,20.48,11,5.93,4.73,12.66,9.8,28,13.58A137.89,137.89,0,0,0,578.79,686.59Z"/></svg>
        </div>
        {{>header}}
            <div class="container">
                <form>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Location name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Provide a location name here">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

                <div class="message">
                    <p id="message"></p>
                </div>
                <div class="block">
                    <div class="temperature"><p><span id="temp">27</span>&#176;</p></div>
                    <div class="caption" id="caption">Sunny</div>
                    {{>table}}
                </div>
            </div>
        {{>footer}}
        <script src="js/app.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>
</html>