<table>
    <thead>
        <tr>
            <th id="location"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Temperature </td>
            <td id="temperature"></td>
        </tr>
        <tr>
            <td>Feelslike </td>
            <td id="feelslike"></td>
        </tr>
        <tr>
            <td>Cloudcover </td>
            <td id="cloudcover"></td>
        </tr>
        <tr>
            <td>Wind-speed </td>
            <td id="wind_speed"></td>
        </tr>
        <tr>
            <td>Humidity </td>
            <td id="humidity"></td>
        </tr>
    </tbody>
</table>