@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #fafafa;
}

h1 {
    font-size: 1.8em;
    font-weight: 900;
}

h5 {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 300;
}

nav {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    font-size: 0.9em;
}

.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    border: none;
}

.navbar-brand {
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: #fafafa;
}
a:hover {
    color: #0275d8;
}

footer {
    position: fixed;
    color: #fafafa;
    text-align: center;
    bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, .3);
    background: rgba(255, 255, 255, .05);
    z-index: 10;
    width: 100%;
    padding: 15px 0 10px 0;
}

@media only screen and (max-width: 992px) {
    .navbar-nav a {
        padding: 15px 0 15px 50px;
        margin-left: 30px;
    }
    .navbar {
        background: rgba(255, 255, 255, .2);
    }
}