.container {
    position: relative;
    z-index: 25;
    top: 100px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fafafa;
}

form button {
    width: 75px;
    height: 35px;
    margin-top: 15px;
}

form .mb-3 {
    width: calc(100% - 100px);
}

form .mb-3 input, form .mb-3 input:checked, form .mb-3 input:focus {
    background: rgba(255, 255, 255, .1);
    border: none;
}

form .mb-3 input::placeholder {
    color: #fafafa;
    opacity: 0.5;
}

.mb-3 input, .mb-3 input:focus, .mb-3 input:active, .mb-3 input:checked {
    color: #fafafa;
}

#message {
    white-space: pre;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.bg svg {
    position: relative;
}

@media only screen and (min-width: 1200px) {
    .bg svg {
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .bg svg {
        width: 140%;
        right: 20%;
        height: auto;
    }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .bg svg {
        width: 160%;
        right: 30%;
        height: auto;
    }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
    .bg svg {
        width: 280%;
        right: 90%;
        height: auto;
    }
}
@media only screen and (max-width: 479px) {
    .bg svg {
        width: 320%;
        right: 110%;
        height: auto;
    }
}
